doctype
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge" )
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="https://hossamrashad.github.io/images-in-github/images/1000x500/3.jpg", type="image/x-icon")
    
        title Injector
        link(rel="stylesheet", href="css/page-snippet.css")


    body 
        h1(class='PageTitleInjector') Injector
        script(src="https://hossamrashad.github.io/libraries/js/JQuery/jquery-3-6-0.min.js") 
        script(src="js/Injector.js") 


